<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>b3d6b246db287885b9e1f42db244dfb1</string>
	<key>App_URL</key>
	<string>$(APP_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.trioangle.goferhandy.process</string>
		<string>com.trioangle.goferhandy.refresh</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(USER_APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_NAME)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.tandhif.user</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.345840437810-jnftr7kua6k7d7rj9kmmiks9d9pl3o52</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ak1654716621965414</string>
				<string>fb1654716621965414</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Tandhif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.tandhif.user</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Tandhif</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1654716621965414</string>
	<key>FacebookDisplayName</key>
	<string>Tandhif</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>Google_API_keys</key>
	<string>AIzaSyB24qtWBEOXx6j4MXy81UxMwMLZtkvcEJc</string>
	<key>Google_Places_keys</key>
	<string>AIzaSyB24qtWBEOXx6j4MXy81UxMwMLZtkvcEJc</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>skype</string>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>$(PRODUCT_NAME)</string>
		<string>org-appextension-feature-password-management</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) to Enable camera access so that you can allow Provider to view your photo.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>wantAccurateLocation</key>
		<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	</dict>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) uses to contact trip provider.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) to Enable camera access so that you can allow Provider to view your photo.</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345840437810-jnftr7kua6k7d7rj9kmmiks9d9pl3o52</string>
	<key>RedirectionLink_user</key>
	<string>Tandhif</string>
	<key>ReleaseVersion</key>
	<string>1.0</string>
	<key>ThemeColors</key>
	<dict>
		<key>BoxColor</key>
		<string>474747</string>
		<key>CancelledStatusColor</key>
		<string>f32f00</string>
		<key>CompletedStatusColor</key>
		<string>27aa0b</string>
		<key>DarkModeBackground</key>
		<string>333333</string>
		<key>DarkModeBorderColor</key>
		<string>C7C7C7</string>
		<key>DarkModeTextColor</key>
		<string>ffffff</string>
		<key>ErrorColor</key>
		<string>ff0000</string>
		<key>InactiveTextColor</key>
		<string>696969</string>
		<key>IndicatorColor</key>
		<string>000000</string>
		<key>LightModeTextColor</key>
		<string>000000</string>
		<key>LightRedColor</key>
		<string>F54748</string>
		<key>LightWhiteColor</key>
		<string>f0f0f0</string>
		<key>PendingStatusColor</key>
		<string>f09400</string>
		<key>PrimaryColor</key>
		<string>F0DA34</string>
		<key>PrimaryTextColor</key>
		<string>333333</string>
		<key>PromoColor</key>
		<string>119c16</string>
		<key>SecondaryColor</key>
		<string>ffffff</string>
		<key>SecondaryTextColor</key>
		<string>303841</string>
		<key>TertiaryColor</key>
		<string>A3A3AB</string>
		<key>ThemeTextColor</key>
		<string>F0DA34</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Book.otf</string>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Medium.otf</string>
		<string>ClanPro-NarrBook.otf</string>
		<string>ClanPro-NarrMedium.otf</string>
		<string>ClanPro-NarrNews.otf</string>
		<string>ClanPro-News.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>GoJek_Common</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>USER_TYPE</key>
	<string>User</string>
	<key>iTunesData_provider</key>
	<dict>
		<key>appID</key>
		<string>id6503679302</string>
		<key>appName</key>
		<string>Tandhif Cleaners</string>
		<key>appStoreDisplayName</key>
		<string>Tandhif Cleaners</string>
	</dict>
	<key>iTunesData_user</key>
	<dict>
		<key>appID</key>
		<string>id6503679131</string>
		<key>appName</key>
		<string>Tandhif</string>
		<key>appStoreDisplayName</key>
		<string>Tandhif</string>
	</dict>
	<key>swiftVersion</key>
	<string>Swift 5.0</string>
	<key>xcodeVersion</key>
	<string>12.2</string>
</dict>
</plist>
