//
//  GoferHandy_demo.xcconfig
//  Goferjek
//
//  Created by trioangle on 07/10/21.
//  Copyright © 2021 Vignesh Palanivel. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK:  ---------- Keys and Identifiers ----------------
USER_APP_NAME                    = Tandhif
USER_BUNDLE_ID                   = com.tandhif.user
GOOGLE_MAP_KEY                   = AIzaSyB24qtWBEOXx6j4MXy81UxMwMLZtkvcEJc
GOOGLE_API_KEY                   = AIzaSyB24qtWBEOXx6j4MXy81UxMwMLZtkvcEJc

// MARK:  ---------- Application Version and App URL ----------------
USER_VERSION                     = 1.0
USER_BUILD                       = 3
RELEASE_VERSION                  = 1.0 // For Force Update
APP_URL                          = https:\/\/tandhif.fr/
//APP_URL                          = https:\/\/elegant-internally-hookworm.ngrok-free.app/

// MARK:  ---------- Appstore details and redirection url ----------------
USERAPPID                        = id6503679131
USERAPPNAME                      = Tandhif
USERAPPDISPLAYNAME               = Tandhif
DRIVERAPPID                      = id6503679302
DRIVERAPPNAME                    = Tandhif Cleaners
DRIVERAPPDISPLAYNAME             = Tandhif Cleaners
REDIRECT_APP_USER                = Tandhif
REDIRECT_APP_PROVIDER            = Tandhif-Cleaners
DEVELOPMENT_TEAM                 = TSBX4TU6K5
USER_TYPE                        = User

// MARK:  ---------- Social Login Credentials ----------------
FBDISPLAYNAME                    = Tandhif
FBID                             = 1654716621965414
FBAKID                           = ak1654716621965414
FBCONTENTID                      = fb1654716621965414
GOOGLESIGNIN_KEY                 = 999982514735-3i52o2m7nt4bkv9gpnic1rpvalhjqmnh.apps.googleusercontent.com
REVERSEDCLIENT_ID                = com.googleusercontent.apps.345840437810-jnftr7kua6k7d7rj9kmmiks9d9pl3o52

