<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999982514735-3i52o2m7nt4bkv9gpnic1rpvalhjqmnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999982514735-3i52o2m7nt4bkv9gpnic1rpvalhjqmnh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999982514735-vd2eoe8v0pp81at1cm7vmeqril0u7av2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUn5pdboglvvGnhiwRrEkpqn5lCFo90-w</string>
	<key>GCM_SENDER_ID</key>
	<string>999982514735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tandhif.user</string>
	<key>PROJECT_ID</key>
	<string>tandhif-cdf05</string>
	<key>STORAGE_BUCKET</key>
	<string>tandhif-cdf05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999982514735:ios:86d821f56ebeca2078fcda</string>
	<key>DATABASE_URL</key>
	<string>https://tandhif-cdf05-default-rtdb.firebaseio.com</string>
</dict>
</plist>